.profile-container{
    width:55%;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    background-color: #e3e7f0;
    border-radius: 1%;
}

.profile-pic-container{
    margin: auto;
    margin-bottom: 10px;
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid black;
    position: relative; //Allows you to clip absolute content
    overflow: hidden;
}

.profile-pic{ //larger image Centered within a relative container
    position: absolute;
    height: 300px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    //ransform, -moz-transform need browser support
}

.profile-button{
    display: block;
    margin: auto;
}

.profile-button:hover{
    color: rgb(144, 145, 148);
}