//Code modified from w3 schools

.custom-form-checkbox {
    padding-left: 32px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .custom-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-form-checkbox:hover input ~ .custom-checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-form-checkbox input:checked ~ .custom-checkmark {
    background-color: #2196F3;
  }
  
  /* Create the custom-checkmark/indicator (hidden when not checked) */
  .custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the custom-checkmark when checked */
  .custom-form-checkbox input:checked ~ .custom-checkmark:after {
    display: block;
  }
  
  /* Style the custom-checkmark/indicator */
  .custom-form-checkbox .custom-checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }