.footer-copyright{
    position: fixed;
    bottom: 10px;
    
    width: 100%;
    text-align: center;
}

.footer-copyright-text{
    margin: auto;
    display: block;
    width: 700px;
    background-color: rgba(37, 37, 37, 0.4);
    color: whitesmoke;
}

.lead-subtext{
    color: black;
    text-align: right;
    padding: 0px 25px 0px 0px;
    margin: 0px;
}

p.lead{
    margin-bottom: .5rem;
}

.home-bg-container{
    position: fixed;
    height: 100%;
    width: 100%;
}

.home-bg{
    pointer-events: none;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

.jumbotron-button{
    height: 100%;
    width: 100%;
}

.jumbotron-button-border{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid black;
    padding: 20px;
    margin: auto;
}

.jumbotron-button-border:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(190, 95, 17,1);
    -moz-box-shadow: 0px 0px 40px 0px rgba(190, 95, 17,1);
    box-shadow: 0px 0px 40px 0px rgba(190, 95, 17,1);
}
