//Animations
@mixin glow-mix {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(212,254,255,1);
    -moz-box-shadow: 0px 0px 40px 0px rgba(212,254,255,1);
    box-shadow: 0px 0px 40px 0px rgba(212,254,255,1);
}

.sb-item {
    cursor: pointer;
}

.sb-item:hover {
    background-color: rgb(206, 237, 250);
}

.sb-item-info {
    color: rgb(170, 173, 173);
    padding: 5px;
}

.tooltip{
    border-radius: 6px;
    width: 220px;
    background-color: black;
    cursor: pointer;
    opacity: 100% !important; //For some reason, something is setting it to zero
    position: absolute;
    right: -62%;
    z-index: 1;
    pointer-events: none; //Causes the mouse to *phase through*
}

/* Show the tooltip text when you mouse over the tooltip container */
li:hover .tooltip{
    visibility: visible;
}

.glow-anim{
    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.75s;
    animation-name: glow;
    animation-duration: 0.75s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes glow {
 0% {}
 30% {@include glow-mix}
 100% {}
}

/* Standard syntax */
@keyframes glow {
 0% {}
 30% {@include glow-mix}
 100% {}
}