.light {
    color: rgb(233, 237, 243);
}
.login-container{
    border: 2px solid white;
    height: 450px;
}

.login-nav-link{
    font-size: 14px;
    display: block;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login-nav-link:hover{
    color: grey;
}

.login-nav-link:visited{
    color:inherit;
}

.banner-fixed-left{
    //min-height: 700px;
    //max-height: 600px;
    min-height: 100%;
    //height:auto;
    width: 85%;
}

.banner-fixed-right{
    //min-height: 700px;
    min-height: 100%;
    //height:auto;

    width: 85%;
    position: absolute;
    right: 0;
}