.light {
    color: rgb(233, 237, 243);
}

.banner-fixed-left{
    height: 100%;
    width: 18%;
    position: fixed;
    left: 0px;
}

.banner-fixed-right{
    height: 100%;
    width: 18%;
    position: fixed;
    right: 0px;
}
