//@import 'styles/Colors.scss';
@mixin swamp_theme_bg {
    background-color: #52527a;
 }


.app-background {
    @include swamp-theme-bg; 
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}